.modal-overlay-add-therapist-feedback
  .modal-content-add-therapist-feedback
  .btn-add-feedback {
  background-color: #263159;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
  align-self: center;
  width: 160px;
  font-family: "Poppins";
  font-size: 14px;
}
