.reset-password-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d325a;
  font-family: "Poppins";
}

.reset-password-form {
  background-color: white;
  padding: 60px;
  border-radius: 12px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-password-form input {
  width: 400px;
}

.reset-password-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Baloo 2";
  font-weight: 700;
  color: #2d325a;
}

.reset-password-container .submit-reset-password {
  background-color: #035e8c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 50px;
  font-family: "Poppins";
}

.reset-password-container .submit-reset-password:hover {
  background-color: #1a7daf;
}

.form-control-reset-password {
  border: 1px solid #758aae;
  padding: 10px 5px;
  border-radius: 7px;
  font-size: 14px;
}

.reset-password-container p {
  margin-bottom: 2px;
  margin-top: 20px;
  color: #758aae;
  font-size: 14px;
}

.form-control-reset-password::placeholder {
  color: #758aae; 
}

.container-page-login-and-register .modal-overlay-forgot-password {
  z-index: 100;
}

.container-page-login-and-register .forgot-password-button-login {
  background-color: #2d325a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Poppins";
  align-self: center;
  width: 400px;
  max-width: 400px;
  min-width: 200px;
}

.container-page-login-and-register .forgot-password-button-login:hover {
  background-color: #4b5181;
}

.container-page-login-and-register .forgot-password-input-login {
  width: 400px;
  max-width: 400px;
  min-width: 200px;
  padding: 10px 8px;
  border-radius: 8px;
  border: 1px solid #758aae;
  align-self: center;
}

.container-page-login-and-register .modal-overlay-forgot-password label {
  align-self: center;
  margin-top: 30px;
}

.reset-password-container .error-message-reset-password {
  color: rgb(230, 37, 37);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset-password-container .navigate-to-login-from-reset{
  color: white;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color:#2d325a;
  border-radius:2px;
  border:none;
  padding: 1px 3px;
}
